.Homeimg {
  width: 100vw;
  height: 100vh;
  background: url("../Image/home.jpg") no-repeat center center fixed;
  background-size: cover;
}

.home_line {
  position: absolute;
  background-color: white;
  height: 0.1vh;
  width: 47vw;
  left: 45vw;
  bottom: 47vh;
}

@media screen and (max-width: 750px) {
  .home_line {
    bottom: 20vh;
    left: 50%;
    height: 0.1vw;
    transform: translateX(-50%);
    width: 80vw;
  }
}
