.IntroBg {
  position: absolute;
  width: 100vw;
  height: 10vh;
  margin-top: 9vh;
  left: 0;
}

.intro_Picture_in {
  width: 10vw;
  height: 23vh;
  position: absolute;
  right: 10%;
  top: 15vh;
}

.intro_Picture {
  position: absolute;
  width: 10vw;
  height: 10vw;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-image: url("../Image/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  object-fit: cover;
}

.IntroButton {
  position: absolute;
  top: 8%;
  width: 12%;
  height: 70px;
  border: none;
  color: #223440;
  padding-bottom: 25px;
  font-family: "Noto Sans KR";
  background: #f2f2f2;
  border-radius: 20px;
}

@media screen and (max-width: 750px) {
  .IntroBg {
    position: absolute;
    width: 100vw;
    height: 10vh;
    margin-top: 0;
    left: 0;
  }

  .intro_Picture_in {
    width: 25vw;
    height: 23vh;
    position: absolute;
    right: 15vw;
    top: 3vh;
  }

  .intro_Picture {
    position: absolute;
    width: 22vh;
    height: 22vh;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-image: url("../Image/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    object-fit: cover;
  }
}

@media screen and (max-width: 550px) {
  .intro_Picture_in {
    right: 13vw;
    top: 4vh;
  }

  .intro_Picture {
    width: 15vh;
    height: 15vh;
  }
}

@media screen and (max-width: 499px) {
  .intro_Picture_in {
    right: 23vw;
    top: -2vh;
  }

  .intro_Picture {
    width: 9vh;
    height: 9vh;
  }
}
