.IntroBg {
  position: absolute;
  width: 100vw;
  height: 10vh;
  margin-top: 9vh;
  left: 0;
}

.intro_Picture {
  position: absolute;
  width: 10vw;
  height: 21vh;
  right: 10%;
  top: 15%;
  border-radius: 50%;
  background-image: url("../Image/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  object-fit: cover;
}

.IntroButton {
  position: absolute;
  top: 8%;
  width: 12%;
  height: 70px;
  border: none;
  color: #223440;
  padding-bottom: 25px;
  font-family: "Noto Sans KR";
  background: #f2f2f2;
  border-radius: 20px;
}
