.IntroItem{
    position: absolute;
    width: 100%;
    height:auto;
    background-color: burlywood;
}

.IntroItem_day{
    position: absolute;
    width: auto;
    height: 30px;
    right:0;
    top:20px;
    margin-right:40px;
    font-family: NATS;
    font-style:normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
    color: #033540;
}

.IntroItem_content{
    position: absolute;
    display: inline-block;
    height:auto;
    width: auto;
    white-space: pre-wrap;
    background: #4BA4F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    top:50px;
    right: 0;
    font-family: NATS;
    font-style: normal;
    font-weight:500;
    font-size: 18px;
    line-height: 26px;
    right: 0;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    padding: 15px 30px;
    /* or 125% */
    
    text-align: right;
    
    color: #F2F2F2;

}


