.ProjectTopDiv {
  position: relative;
  width: 100%;
  height: 28vh;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.ProjectHeaderText {
  position: relative;
  left: 5%;
  height: 12vh;
  font-family: NATS;
  font-style: normal;
  font-weight: bolder;
  font-size: 7vh;
  color: #000000;
}

.ProjectLinkText {
  position: relative;
  font-family: NATS;
  height: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5vh;
  text-align: right;
  color: #5c5c5c;
  z-index: 3;
  margin-bottom: 13vh;
  text-decoration: underline;
  text-underline-position: under;
}
