.ProjectTopDiv {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.ProjectHeaderText {
  position: relative;
  left: 5%;
  font-family: NATS;
  height: 60px;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  color: #000000;
}

.ProjectLinkText {
  position: relative;
  font-family: NATS;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-align: right;
  color: #5c5c5c;
  margin-bottom: 70px;
  text-decoration: underline;
  text-underline-position: under;
}
